.marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.marquee-reverse {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll-right 20s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
