
.marquee {
  animation: marquee 20s linear infinite;
  white-space: nowrap; 
}
.marquer {
  animation: marquer 20s linear infinite;
  white-space: nowrap; 
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(-20%);
  }
  60% {
    transform: translateX(-30%);
  }
  80% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(-50%); 
  }
}
@keyframes marquer {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10%);
  }
  40% {
    transform: translateX(20%);
  }
  60% {
    transform: translateX(30%);
  }
  80% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(50%); 
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
